<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<!-- 
 -
 -               Confidentiality Information:
 -
 - This module is the confidential and proprietary information of
 - Verticals onDemand, Inc.; it is not to be copied, reproduced, or transmitted
 - in any form, by any means, in whole or in part, nor is it to be used
 - for any purpose other than that for which it is expressly provided
 - without the written permission of Verticals onDemand.
 - 
 - Copyright (c) 2009 Verticals onDemand, Inc.  All Rights Reserved.
 -
 -->

<html>
   	<head>
			{!INCLUDE($SControl.VOD_BASE_SF_INCLUDES_vod)}
		<script type="text/javascript">
			{!INCLUDE($SControl.VOD_JS_UTILS_vod)}
			if (IsSystemMaintenance == 'FALSE') { 
				var objectType ='{!$ObjectType.Sample_Order_Transaction_vod__c}';
				var eid ='{!JSENCODE($Request.eid)}';
				var userid = '{!User.Id}';
				generateVODJSinclude('/js/blockupdate.js');
			} else {	
				document.bgColor = 'F3F3EC';
				document.write ("<B>The system is undergoing maintenance, please try again later.</B>");		
			}
		
        	</script>
  	</head>
</html>