<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<!-- 
- 
- Confidentiality Information: 
- 
- This module is the confidential and proprietary information of 
- Verticals onDemand, Inc.; it is not to be copied, reproduced, or transmitted 
- in any form, by any means, in whole or in part, nor is it to be used 
- for any purpose other than that for which it is expressly provided 
- without the written permission of Verticals onDemand. 
- 
- Copyright (c) 2009 Verticals onDemand, Inc. All Rights Reserved. 
- 
-->
<html>
	<head></head>
	<body>
		<script>
			{!INCLUDE($SControl.VOD_URL_GEN_SNIPPET_vod)}

			var addrID = "{!Address_vod__c.Id}";
			var addBestTimes = "{!JSENCODE(Address_vod__c.Best_Times_vod__c)}";

			var myqueryparms = "";

			if ((addrID != "") && (addrID != null))
				myqueryparms += "&ADDRID=" + addrID;
			if ((addBestTimes != "") && (addBestTimes != null))
				myqueryparms += "&ADDRBT=" + encodeURIComponent(addBestTimes);

			location.replace(getVoDURL("besttimes", myqueryparms));
		</script>
	</body>
</html>