<!-- 
- 
- Confidentiality Information: 
- 
- This module is the confidential and proprietary information of 
- Verticals onDemand, Inc.; it is not to be copied, reproduced, or transmitted 
- in any form, by any means, in whole or in part, nor is it to be used 
- for any purpose other than that for which it is expressly provided 
- without the written permission of Verticals onDemand. 
- 
- Copyright (c) 2009 Verticals onDemand, Inc. All Rights Reserved. 
- 
--> 
<html>
<head>
<script src="/soap/ajax/9.0/connection.js" type="text/javascript"></script>
</head>
<body>
<script>
{!INCLUDE($SControl.VOD_URL_GEN_SNIPPET_vod)}

var ids = {!GETRECORDIDS( $ObjectType.Medical_Inquiry_vod__c )};
if (ids) {
if (ids.length == 1) {
var myqueryparms = "&id=" + ids[0];
location.replace(getVoDURL ("inquiryReceipt",myqueryparms));
}
else if (ids.length > 1) {
alert('You can only select one row');
window.history.back();
}
else {
var user = sforce.connection.getUserInfo();
var query = sforce.connection.query("SELECT Name, Text_vod__c FROM Message_vod__c WHERE Language_vod__c='"+user.userLanguage+"' AND Category_vod__c='MEDICAL_INQUIRY' AND Name='NO_ROW_SELECTED'");
var records = query.getArray("records");
var message = "No row has been selected";
for (var i=0;i<records.length;i++) {
if (records[i].Name == "NO_ROW_SELECTED")
message = records[i].Text_vod__c;
}
alert(message);
window.history.back();
}
}
else {
alert('Not configured properly')
window.history.back();
}


</script>
</body>

</html>