var VOD_SERVER_URL="https://crm-10-app-us.veevacrm.com";
var VOD_VERSION="183.9.0";
var ANALYTICS_URL="https://a1.vod309.com"; 
var VOD_URL=VOD_SERVER_URL +"/" +VOD_VERSION;
var IsSystemMaintenance="FALSE";
var MVERSION="23.0.0";
var VOD_API="24"; 
var PVERSION="17.0.5.1";
var BBVERSION="16.0.0";
var iVersion="ent183.9.0";
var iMinVersion="183.9.0";
var CONTENTSRV="https://crm-10-content-us.veevacrm.com";
var iMiniOSVersion="10.1.1";
var MC_CONTEXT_ROOT="mc183.9.0";
var MC_SERVER_URL="https://mc-01-app-us.veevacrm.com";
var WMVERSION="183.9.0";
var iMedicalAppID="com.veevasystems.medical.iRep";
var VNMinVersion="1.0.2";
var iSEVersion="expired";